<footer class="container-fluid bh-absolute-bottom">
    <div class="row">
        
    
<div class="midden">
        <p>© 2018 | Alle Rechten Voorbehouden | Vzw De geknipte kat </br>
            In samenwerking met Elke Borreij en Arteveldehogeschool</br>
    Academiejaar 2017 - 2018 </p>
    <img  src="{{ 'images/logo_wit.png' | relative_url }}">
    <img  src="{{ 'images/logo_ah.png' | relative_url }}">
    </div>
</div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>