/* Navigation
---------------------------------------------
*/

.navbar a {
  border: none;
margin-top: 10px;
  font-size: 1.2rem;

}
.navbar a:hover{ 
  color:$mycolor-5;
  background-color: none;
  font-weight: 700;
}
.nav-link{
  color: $color-white !important; 

    
}

.navbar a:active {
  font-weight: 700;
  background-color:$mycolor-1;
  color: $mycolor-5;
}
.balk {
  background-color:$mycolor-1;
  margin-bottom: 0%;
}

.dropdown-item.active {
  background-color:$mycolor-4 ;
}


/* Algemeen ------------*/
p{
  padding-left: 30px;

}

.voorbeeld_afbeelding img{
width: 240px;
padding: 20px;
}
.container{
  width: 70%;
  max-width: 900px;
  position: relative;
  margin-bottom: 200px;
}

.afbeelding_logo{
  width: 160px;
  margin-left: 10px;
  margin-bottom: 20px;
  
}
.afbeelding_ruimte{
  width: 300px;
  float: left;
  margin-right: 20px;
}
.afbeelding_min{
  width: 100px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ruimte_lijst li{
 text-indent: 0;
}
.dont{
  width: 250px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.afbeelding_voorbeeld{
  width: 500px;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
.afbeelding_ruimtevb{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.afbeelding_beeldmerk{

width: 200px;;
}

.afbeelding_visitekaartje{
  width: 310px;
  margin-left:30px;
}

.afbeelding_desktop{
  width: 250px;
  margin-left: 10px;
}
/* Kleuren
------------------------------------------*/

/*Geel ----*/
.color-primary .label-name:before,
.color-primary h3.subheader:before {
  content: "Geel";
}
.color-primary .label-rgb:before {
  content: "255 /204 /51";
}

.color-primary .label-hsl:before {
  content: "#ffcc33";
}
.color-primary .label-cmyk:before {
  content: "5 /29 /84 /0";
}
.color-primary .label-hex:before {
  content: "#f2bb39";
}

.color-primary .swatch {
  background: $mycolor-1;
}
/*Blauw ----*/
.color-secondary .label-rgb:before {
  content: "0 /153 /204";
}

.color-secondary .label-hsl:before {
  content: "#0099cc";
}
.color-secondary .label-cmyk:before {
  content: "76 /25 /22 /4";
}
.color-secondary .label-hex:before {
  content: "#2c92b1";
}

.color-secondary .swatch {
  background: $mycolor-2;
}

.color-secondary .label-name:before,
.color-secondary h3.subheader:before {
  content: "Blauw";
}
/*Algemeen ----*/
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.row-eq-height > div {
  position: relative;
  min-height: 30px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.label {
  color: #ddd;
  white-space: normal;
  text-align: left;
  border-radius: 0;
  display: block;
  padding: 0;
}
.label:empty {
  display: block;
}
.row-eq-height .label {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.color .label {
  color: #000;
}
.color .label.label-color {
  text-align: right;
  font-weight: normal;
}

.swatch {

  height: 150px;
  margin-bottom: 2rem;
}
/*groen---*/
.color-1 .label-name:before,
.color-1 h3.subheader:before {
  content: "Groen";
}
.color-1 .label-rgb:before {
  content: "146 /193 /68";
}

.color-1 .label-hsl:before {
  content: "#ffcc33";
}
.color-1 .label-cmyk:before {
  content: "51 /0 /88 /0";
}
.color-1 .label-hex:before {
  content: "#85bd44";
}

.color-1 .swatch {
  background: $mycolor-4;
}
/*licht grijs---*/

.color-2 .label-name:before,
.color-2 h3.subheader:before {
  content: "Licht grijs";
}
.color-2 .label-rgb:before {
  content: "245 /245 /245";
}

.color-2 .label-hsl:before {
  content: "#0099cc";
}
.color-2 .label-cmyk:before {
  content: "5 /4 /4 /0";
}
.color-2 .label-hex:before {
  content: "#f4f3f4
  ";
}

.color-2 .swatch {
  background: $mycolor-3;
}
/*Donker grijs---*/
.color-3 .label-name:before,
.color-3 h3.subheader:before {
  content: "Donker grijs";
}
.color-3 .label-rgb:before {
  content: "51/51 /51";
}

.color-3 .label-hsl:before {
  content: "#333333";
}
.color-3 .label-cmyk:before {
  content: "69 / 59/ 56 /65";
}
.color-3 .label-hex:before {
  content: "#0099cc";
}

.color-3 .swatch {
  background: $mycolor-5;
}

/*Zwart---*/

.color-4 .label-name:before,
.color-4 h3.subheader:before {
  content: "Zwart";
}
.color-4 .label-rgb:before {
  content: "0/0 /0";
}

.color-4 .label-hsl:before {
  content: "#000000";
}
.color-4 .label-cmyk:before {
  content: "100 /100 /100 /100";
}
.color-4 .label-hex:before {
  content: "#000000";
}

.color-4 .swatch {
  background: $color-black;
}


/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 50px;
  }

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
    background-color:$mycolor-2;
    color: $color-white;
    margin-top: 50px;

    p {
        color: $color-white;
        text-align: center;
        &:hover {
            
        }
    }
}
.midden {
  display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.midden img{
  width: 100px;
  padding-left: 30px;
}
/* BACK TO TOP
-------------------------
*/
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:$mycolor-3; /* Set a background color */
  color:$color-black  ; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  margin-bottom: 50px;
  &:hover {
    background-color:$mycolor-1;
    color: $color-white ; 
  }
}


